# DeepSeek configuration
LLM_BASE_URL=
LLM_API_KEY=

# MySQL configuration
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=menu

# Milvus configuration
MILVUS_HOST=http://127.0.0.1:19530
MILVUS_TOKEN=

# Redis configuration
REDIS_URL=redis://localhost:6379/0
